#ignora directorios
build/
CMakeFiles/
dist/
codeblocks/doxygen/
Testing/
test/
_CPack_Packages/
nbproject/
test/
Testing/
visualstudio/
codeblocks/
codelite/
mingw/
.vagrant/

#ignora archivo objeto
*.o
*.a
*.gch
*.gcov
*.deb
*.exe
*.msi
Makefile
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
install_manifest.txt
prueba.txt
history.txt
compile_commands.json
<scratch>
