#ignora directorios
bin/
CMakeFiles/
Release/
codeblocks/doxygen/
Testing/
test/
_CPack_Packages/
blog/
nbproject/
test/
Testing/

#ignora archivo objeto
*.o
*.a
*.gch
*.deb
*.exe
*.msi
Makefile
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
install_manifest.txt
prueba.txt
history.txt
compile_commands.json
<scratch>
