[Desktop Entry]
Version=1.2.0
Name=Latino
Comment=Ejecutable de Latino oficial v.1.2.0
Exec=/usr/bin/latino
Icon=/usr/share/latino/desktop.png
Terminal=true
Type=Application
Categories=Utility;Application;Development;